<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bupt.dlplatform.t_testset.mapper.TTestsetRepository">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bupt.dlplatform.t_testset.entity.TTestsetEntity">
    <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="testset_id" property="testsetId" />
        <result column="testset_name" property="testsetName" />
        <result column="testset_time" property="testsetTime" />
        <result column="testset_size" property="testsetSize" />
        <result column="testset_location" property="testsetLocation" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time, update_time, testset_id, testset_name, testset_time, testset_size, testset_location
    </sql>

</mapper>
