<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bupt.dlplatform.t_train_record.mapper.TTrainRecordRepository">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bupt.dlplatform.t_train_record.entity.TTrainRecordEntity">
    <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="train_id" property="trainId" />
        <result column="train_name" property="trainName" />
        <result column="train_start_time" property="trainStartTime" />
        <result column="train_stop_time" property="trainStopTime" />
        <result column="train_status" property="trainStatus" />
        <result column="trainset_id" property="trainsetId" />
        <result column="user_id" property="userId" />
        <result column="config_id" property="configId" />
        <result column="train_task" property="trainTask" />
        <result column="log_id" property="logId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time, update_time, train_id, train_name, train_start_time, train_stop_time, train_status, trainset_id, user_id, config_id, train_task, log_id
    </sql>

</mapper>
