<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bupt.dlplatform.t_analyse_record.mapper.TAnalyseRecordRepository">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bupt.dlplatform.t_analyse_record.entity.TAnalyseRecordEntity">
    <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="analyse_result_id" property="analyseResultId" />
        <result column="analyse_record_name" property="analyseRecordName" />
        <result column="analyse_record_time" property="analyseRecordTime" />
        <result column="user_id" property="userId" />
        <result column="log_id" property="logId" />
        <result column="analyse_id" property="analyseId" />
        <result column="analyse_class" property="analyseClass" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time, update_time, analyse_result_id, analyse_record_name, analyse_record_time, user_id, log_id, analyse_id, analyse_class
    </sql>

</mapper>
