<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bupt.dlplatform.mapper.TModelRepository">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bupt.dlplatform.model.TModelEntity">
    <result column="id" property="id" />
        <result column="model_id" property="modelId" />
        <result column="model_name" property="modelName" />
        <result column="model_time" property="modelTime" />
        <result column="network" property="network" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="task" property="task" />
        <result column="model_location" property="modelLocation" />
        <result column="model_common" property="modelCommon" />
        <result column="model_label" property="modelLabel"/>
        <result column="model_status" property="modelStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        model_id, model_name, model_time, network, create_time, update_time, task, model_location, model_common, model_label, model_status
    </sql>

</mapper>
