<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bupt.dlplatform.mapper.TTrainsetRepository">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bupt.dlplatform.model.TTrainsetEntity">
    <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="trainset_id" property="trainsetId" />
        <result column="trainset_name" property="trainsetName" />
        <result column="trainset_time" property="trainsetTime" />
        <result column="class_num" property="classNum" />
        <result column="trainset_location" property="trainsetLocation" />
        <result column="trainset_common" property="trainsetCommon" />
        <result column="trainset_type" property="trainsetType" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time, update_time, trainset_id, trainset_name, trainset_time, trainset_size, trainset_location, trainset_common, trainset_type, trainset_task
    </sql>

</mapper>
